
<html>
<head>
<script src="https://www.brython.info/src/brython_dist.js"></script>
</head>
<body onload="brython()">
<script type="text/python">
from browser import document, alert, ajax, html, console
import json

def get_variables():
    vars = document.get(selector='input.variable')
    inputs = {}
    total = 0
    for each in vars:
        inputs[each.id] = document[each.id].value
        if "key" in each.id:
	   key_number = int(each.id[-1])
	   if key_number > total:
	      total = key_number
    if inputs.get("key1"):
       values = {}
       for index in range(1,total + 1):
          key = inputs["key" + str(index)]
	  if not key:
	     continue
          value = inputs["value" + str(index)]
          values[key] = value
       inputs["value"] = values   
    return inputs

def base_request(*args, **kwargs):
    req = ajax.ajax()
    req.bind('complete', on_complete)
    req.open(*args)
    req.set_header('content-type','application/x-www-form-urlencoded')
    req.send(kwargs)

def post_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('POST','/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"], True, data=vars["value"])
    elif vars.get("list"):
       base_request('POST','/' + vars["bucket"] + '/list/' + vars["list"], True, data=vars["value"])

def put_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('PUT','/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"], True, data=vars["value"])
    elif vars.get("list"):
       base_request('PUT','/' + vars["bucket"] + '/list/' + vars["list"], True, data=vars["value"])

def get_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('GET','/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"],True)
    elif vars.get("list"):
       base_request('GET','/' + vars["bucket"] + '/list/' + vars["list"],True)

def delete_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('DELETE','/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"],True)
    elif vars.get("list"):
       base_request('DELETE','/' + vars["bucket"] + '/list/' + vars["list"],True)
    else:
       base_request('DELETE','/' + vars["bucket"],True)

def add_key_value():
    vars = get_variables()
    number_of_values = len([i for i in vars if "value" in i])
    document['inputs'] <= html.BR()
    document['inputs'] <= html.INPUT(Id="key{}".format(number_of_values), Class="variable")
    document['inputs'] <= html.INPUT(Id="value{}".format(number_of_values), Class="variable")
    
def upload_file():
    vars = get_variables()
    if vars.get("value") and vars.get("bucket"):
       url = '/' + vars["bucket"] + '/file/' + vars["value"]
    elif vars.get("bucket"):
       url = '/' + vars["bucket"] + '/file/' 
    else:
       return alert("Set bucket before uploading file")
									    
    document['file_uploader'].action = url

def on_complete(req):
    try:
       alert(json.loads(req.text))
    except:   
       alert(req.text)

document['post'].bind('click', post_item)
document['put'].bind('click', put_item)
document['get'].bind('click', get_item)
document['delete'].bind('click', delete_item)
document['key_value'].bind('click', add_key_value)
document['upload'].bind('mouseenter', upload_file)

alert("working")
</script>
<div id="app">
   <container id="inputs">
      <input id="bucket" class="variable">
      <input id="list" class="variable">
      <input id="value" class="variable">
      <input id="index" class="variable">
      <form id="file_uploader" action="/" method=post enctype=multipart/form-data>
      <input id="file" name="FILE" type="file">
      <input id="upload" type=submit value=Upload >
      </form>
      <button id="post">post</button>
      <button id="put">put</button>
      <button id="get">get</button>
      <button id="delete">delete</button>
      <button id="key_value">+</button>
   </container>
</div>
</body>
</html>
