
<html>
<head>
<script src="http://brython.info/src/brython_dist.js"></script>
</head>
<body onload="brython()">
<script type="text/python">
from browser import document, alert, ajax 
import json


def get_variables():
    vars = document.get(selector='input.variable')
    return { each.id: document[each.id].value for each in vars}

def base_request(*args, **kwargs):
    req = ajax.ajax()
    req.bind('complete', on_complete)
    req.open(*args)
    req.set_header('content-type','application/x-www-form-urlencoded')
    req.send(kwargs)

def post_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('POST','/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"], True, data=vars["value"])
    elif vars.get("list"):
       base_request('POST','/' + vars["bucket"] + '/list/' + vars["list"], True, data=vars["value"])

def put_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('PUT','/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"], True, data=vars["value"])
    elif vars.get("list"):
       base_request('PUT','/' + vars["bucket"] + '/list/' + vars["list"], True, data=vars["value"])

def get_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('GET','/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"],True)
    elif vars.get("list"):
       base_request('GET','/' + vars["bucket"] + '/list/' + vars["list"],True)

def delete_item():
    vars = get_variables()
    if vars.get("index") and vars.get("list"):
       base_request('DELETE','/' + vars["bucket"] + '/list/' + vars["list"] + "/" + vars["index"],True)
    elif vars.get("list"):
       base_request('DELETE','/' + vars["bucket"] + '/list/' + vars["list"],True)
    else:
       base_request('DELETE','/' + vars["bucket"],True)


def on_complete(req):
    alert(req.text)

document['post'].bind('click', post_item)
document['put'].bind('click', put_item)
document['get'].bind('click', get_item)
document['delete'].bind('click', delete_item)

alert("working")
</script>
<input id="bucket" class="variable">
<input id="list" class="variable">
<input id="value" class="variable">
<input id="index" class="variable">
<button id="post">post</button>
<button id="put">put</button>
<button id="get">get</button>
<button id="delete">delete</button>
</body>
</html>
